body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fffded;
            width: 600px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            border: 3px solid #931420;
        }

        header {
            background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
            color: #931420;
            text-align: center;
            padding: 1.5em 0 2em;
            border-bottom: 3px solid #931420;
            position: relative; 
        }

        header h2, header h3 {
            text-indent: 0;
        }

        header img {
            padding: 10px;
            position: absoulte;
            top: 10px;
            left: 10px;
        }

        main {
            padding: 20px 30px;
        }

        main h1 {
            border-top: 3px solid #931420;
            border-bottom: 3px solid #931420;
            text-align: center;
            padding: 10px;
            color: #931420;
        }

        footer {
            background-color: #931420;
            color: white;
            text-align: center;
            padding: 1em;
            border-top: 3px solid #931420;
        }

        footer p {
            color: white;
        }

        blockquote {
            font-style: italic;
        }
